*.iml
*.apk
*.aar
*.zip
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.vscode
.project
.settings
.classpath
google-services.json
.idea/
.idea/*
local.properties
